<h3>Confirmation</h3>
<button @onclick="YesClicked" class="btn btn-primary">Yes</button>
<button @onclick="NoClicked" class="btn btn-primary">No</button>
@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    async void YesClicked()
    {
        await BlazoredModal.CloseAsync();
    }

    async void NoClicked()
    {
        await BlazoredModal.CancelAsync();
    }
}
