<span class="spinner-border spinner-border-sm" role="status">
    <span class="sr-only">@ScreenReaderText</span>
</span>

@code {
    [Parameter]
    public string ScreenReaderText { get; set; } = "Loading...";
}
