@implements IDisposable
@using PipelineCacher.Client.Models
@inject AuthenticationStateProvider authenticationStateProvider
@inject UserState userState
@inject HttpClient Http
@using PipelineCacher.Shared

<CascadingAuthenticationState>
    <CascadingBlazoredModal>
        <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="true">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        @if (!context.User.Identity.IsAuthenticated)
                        {
                            <RedirectToLogin />
                            <p>NOT YET</p>
                        }
                        else
                        {
                            <p>You are not authorized to access this resource.</p>
                        }
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingBlazoredModal>
</CascadingAuthenticationState>

@code {
    private async void OnAuthenticationStateChanged(Task<AuthenticationState> task)
    {
        if (task.IsCompletedSuccessfully)
        {
            Console.WriteLine("here");
            var forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
            userState.Test = forecasts.Length.ToString();
            var taskAwaited = await task;

            var user = (await task).User;

        }
    }

    protected async override Task OnInitializedAsync()
    {
        userState.Test = "OnInitializedAsync";
        Console.WriteLine("test");
        authenticationStateProvider.AuthenticationStateChanged += this.OnAuthenticationStateChanged;
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        Console.WriteLine("woot");
        if (user.Identity.IsAuthenticated)
        {
            userState.Test = "Authenticated";
            Console.WriteLine("woot1");
        }
        else
        {
            userState.Test = "Not authenticated";
            Console.WriteLine("woot2");
        }
        await Task.Delay(1000);
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        authenticationStateProvider.AuthenticationStateChanged -= this.OnAuthenticationStateChanged;
    }
}