@implements IDisposable
@using PipelineCacher.Client.Features.User
@using PipelineCacher.Shared
@using BlazorState

@inherits BlazorStateComponent

@inject AuthenticationStateProvider authenticationStateProvider
@inject HttpClient httpClient

<CascadingAuthenticationState>
    <CascadingBlazoredModal>
        <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="true">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        @if (!context.User.Identity.IsAuthenticated)
                        {
                            <RedirectToLogin />
                            <p>NOT YET</p>
                        }
                        else
                        {
                            <p>You are not authorized to access this resource.</p>
                        }
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingBlazoredModal>
</CascadingAuthenticationState>

@code {
    private UserState userState => GetState<UserState>();

    private async void OnAuthenticationStateChanged(Task<AuthenticationState> task)
    {
        Console.WriteLine("there you go");
        if (task.IsCompletedSuccessfully)
        {
            Console.WriteLine("here");
            var forecasts = await httpClient.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
            await Mediator.Send(new UserState.ChangeTestValueAction { Value = forecasts.Length.ToString() });

            var taskAwaited = await task;

            var user = (await task).User;

        }
    }

    protected async override Task OnInitializedAsync()
    {
        await Mediator.Send(new UserState.ChangeTestValueAction { Value = "OnInitializedAsync" });        
        authenticationStateProvider.AuthenticationStateChanged += this.OnAuthenticationStateChanged;        
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        
        if (user.Identity.IsAuthenticated)
        {
            await Mediator.Send(new UserState.ChangeTestValueAction { Value = "Authenticated" });
            var result = await httpClient.PostAsync($"api/UserProfile", null);
            var userEntity = await result.Content.ReadFromJsonAsync<Entities.User>();
            await Mediator.Send(new UserState.UpdateUserAction { User = userEntity });
        }
        else
        {
            await Mediator.Send(new UserState.ChangeTestValueAction { Value = "Not authenticated" });
        }
    }

    void IDisposable.Dispose()
    {
        authenticationStateProvider.AuthenticationStateChanged -= this.OnAuthenticationStateChanged;
    }
}