@implements IDisposable
@using Microsoft.AspNetCore.Http
@using PipelineCacher.Client.Features.User
@using PipelineCacher.Client.Services
@using PipelineCacher.ClientServices
@using PipelineCacher.Shared
@using BlazorState
@using System.Net.Http.Headers

@inherits BlazorStateComponent

@inject AuthenticationStateProvider authenticationStateProvider
@inject IApiServerHttpClient apiServerHttpClient
@inject NavigationManager navigationManager
@inject UserProfileAgent userProfileAgent
@inject IHttpContextAccessor httpContextAccessor

<CascadingAuthenticationState>
    <CascadingBlazoredModal>
        <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="true">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        @if (!context.User.Identity.IsAuthenticated)
                        {
                            <RedirectToLogin />
                            <p>NOT YET</p>
                        }
                        else
                        {
                            <p>You are not authorized to access this resource.</p>
                        }
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingBlazoredModal>
</CascadingAuthenticationState>

@code {
    private UserState userState => GetState<UserState>();

    private async void OnAuthenticationStateChanged(Task<AuthenticationState> task)
    {
        Console.WriteLine("there you go");
        if (task.IsCompletedSuccessfully)
        {
            Console.WriteLine("here");
            var forecasts = await apiServerHttpClient.AuthorizedHttpClient.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
            await Mediator.Send(new UserState.ChangeTestValueAction { Value = forecasts.Length.ToString() });

            var taskAwaited = await task;

            var user = (await task).User;

        }
    }

    private async Task PrepareAuthenticatedClient()
    {
        //var accessToken = await tokenAcquisition.GetAccessTokenForUserAsync();
        //httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", accessToken);
    }

    protected async override Task OnInitializedAsync()
    {
        var user2 = httpContextAccessor.HttpContext.User;

        await Mediator.Send(new UserState.ChangeTestValueAction { Value = "OnInitializedAsync" });        
        authenticationStateProvider.AuthenticationStateChanged += this.OnAuthenticationStateChanged;        
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            await Mediator.Send(new UserState.ChangeTestValueAction { Value = "Authenticated" });
            var userEntity = await userProfileAgent.Get();            
            await Mediator.Send(new UserState.UpdateUserAction { User = userEntity });
        }
        else
        {
            await Mediator.Send(new UserState.ChangeTestValueAction { Value = "Not authenticated" });
        }
    }

    void IDisposable.Dispose()
    {
        authenticationStateProvider.AuthenticationStateChanged -= this.OnAuthenticationStateChanged;
    }
}